export XDG_RUNTIME_DIR=/run/user/1000
export KUBEVIRTCI_PODMAN_SOCKET=/run/user/1000/podman/podman.sock
export ARCHITECTURE=$(uname -m)
export PULL_POLICY=Always
export PODMAN_SOCKET=/run/user/1000/podman/podman.sock
export KUBEVIRT_CRI=podman
export KUBEVIRTCI_RUNTIME=podman
export KUBEVIRT_PROVIDER=k8s-1.36
export KUBECONFIG=$(./cluster-up/kubeconfig.sh)
